# Unity Generated Folders
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
Assets/XRControls.cs
Assets/XRControls.cs.meta

# IDE Files
.vscode/
.vs/
.idea/

# Temp Files
.utmp/

# Build + Meta Files
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj

# Keep only these:
!Assets/
!Packages/
!ProjectSettings/
!.github/
!.github/workflows/
